.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


/* Custom CSS for hover effect */
.nav-item:hover .nav-link {
    background-color: black; /* Change to the desired background color on hover */
    color: white; /* Change to the desired text color on hover */
}